body {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.6;
    word-wrap: break-word;
}

a {
    background-color: transparent;
    color: #4078c0;
    text-decoration: none;
}

a:active, a:hover {
    outline: 0;
    text-decoration: underline;
}

strong {
    font-weight: bold;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.1;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 21px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 11px;
}

ul, ol {
    margin-top: 10px;
    margin-bottom: 10px;
}

blockquote {
    margin: 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

hr {
    box-sizing: content-box;
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ddd;
}

hr:before {
    display: table;
    content: "";
}

hr:after {
    display: table;
    clear: both;
    content: "";
}

kdb, pre {
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    text-align: left;
    padding: 5px;
}

th {
    background-color: rgb(245, 245, 245);
}

.aw-bottom {
    padding: 2em;
}

.article-body {
    margin-top: 2em;
    color: black;
}

.article-header {
    margin-bottom: 1em;
}

.nav-menu-item:before {
    content: "["
}

.nav-menu-item:after {
    content: "]"
}

span[itemprop="keywords"]:before {
    content: "["
}

span[itemprop="keywords"]:after {
    content: "]"
}
